{% extends "base.html" %}

{% block title %} {{series.name}} {% endblock title %}

{% block content %}
<div class="ui container">
    <h2 class="ui dividing header">Форма</h2>
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Используйте as_p для совместимости -->
        
        <!-- Кнопка сохранения -->
        <button type="submit" class="ui primary button fluid">
            <i class="save icon"></i> Сохранить
        </button>
    </form>
</div>
{% endblock content %}
